/* Recipe */

.recipe-card {
  width: 75%;
  margin: 1.5rem;
  /* background: var(--gray-color); */
  background: var(--second-color);
}

/* .recipe-card h3 {
  color: white;
} */

.item-recipe {
  list-style: none;
  padding: 3px;
}
