/* Comments */

.comment-input {
  width: 90%;
  margin-left: 10px;
  padding: 3px;
}

.comment-button {
  width: 25%;
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px;
  background-color: var(--blue-color);
  color: var(--second-color);
  border: 2px solid var(--blue-color);
  border-radius: 5px;
}

.comment-button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}