/* Home */

.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.home-section {
  margin: 10px;
}

.promo-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-promo {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  text-align: center;
  flex-direction: column;
}

.image-lunch {
  width: 50%;
  border-radius: 20%;
}

.tab-link {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background: var(--gray-color);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.tab-link:hover {
  color: var(--blue-color);
}