:root {
  --main-color: #112236;
  --second-color: white;
  --blue-color: #436280;
  --blue-gray-color: #a3bad2;
  --gray-color: #dbe4ed;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-color);
  background-color: white;

}

h1, h2, h3, h4, h5, h6 {
  color: var(--main-color);
}

h3 {
  font-size: 1rem;
}

.main {
  position: relative;
  min-height: 82vh;
}